* {
    margin:0;
    padding:0;
    color: rgb(31, 48, 36);
    font-family: 'Dosis', sans-serif;

}

h1, h2 {
    letter-spacing: 1px;
    color:rgb(98, 116, 99);
    font-family: 'League Spartan', sans-serif;
}

h2 {
    font-size: 2.2rem;
    letter-spacing: 1.8px;
    padding-bottom: 10px;
    text-align: center;
    padding-top: 10px;
}

.recommended:hover {
    box-shadow: 1px 1px 2px rgb(98, 116, 99);
    
}

.subtitle {
    text-align: center;
    /* font-style: italic; */
    margin-top: 30px;
}
.logo {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin: auto;
    display: block;
}
nav {
    margin-bottom: 50px;
    
}

a {
    color: white;
    text-decoration: none;
}

/* .aside {
    top: 10px;
    right: 20px;
    width: 80px;
} */

.container-bg {
    background-color: rgb(250, 226, 194);
    padding-top: 20px;
    border-radius: 10px;

}

.card-index {
    max-height: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.col-sm-3 {
    margin-left: 10px;
    margin-right: 10px;
} 

.card {
    margin-bottom: 30px;
    margin-right: 20px;
}

.card:hover {
    box-shadow: 2px 2px 3.5px grey;
}

#cards {
    margin-bottom: 10px;
    margin-top: 50px;
    justify-content: space-around;
}

article {
    padding-bottom: 20px;
    padding-left: 10px;
}

.header {
    text-align: left;
}

.recommended {
    background-color: rgb(250, 226, 194);
    display: flex;
    flex-direction: row;
    justify-items: auto;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    margin-bottom: 5px;
    
}

#lotus-left {
    max-height: 30px;
    position: absolute;
    left: 30px;
    top:40px;
}

#lotus-right {
    max-height: 30px;
    position: absolute;
    right: 30px;
    top: 40px;
}

.sub {
    text-align: center;
    margin-top: -25px;
    color: rgb(140, 155, 141);
    letter-spacing: 1px;
    color: rgb(98, 116, 99);
}

form input {
    margin-top: 20px;
    border-style: none;
}

.form_size {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    border-radius: 10px;
    padding-bottom: 50px;
    box-shadow: 2px 2px 3.5px grey;

}

.signup {
    margin-top: 20px;
}
.img-xs {
    border-radius: 50px;
}

.tab-mar {
    margin: auto;
}
/* .btn {
    margin-top: 10px;
} */

footer {
    background-color:rgb(98, 116, 99);
    margin-top: 100px;
    margin-bottom: 0px;
}

#add {
    max-width: 150px;
    max-height: 40px;
    justify-content: center;
}
#list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* span {
    font-weight: bolder;
    line-height: 0.5rem;
}

span.survol:hover {
    text-decoration: line-through;
    cursor: pointer;
} */





